.app-stepper{
    .steppers{
        .step-body{
            width: 160px !important;
        }
        .title {
            padding: 0 15px;
        }
        .dotted-line {
            margin-left: 105px;
            margin-top: -61px;
            width: 110px;
        }
    }
}